<!-- templates/playlists_new.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/playlists'>
    <fieldset>
    <legend>New Playlist</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Title</label><br>
        <input type='text' name='title' />
    </p>
    <!-- DESCRIPTION -->
    <p>
        <label for='description'>Description</label><br>
        <input type='text' name='description' />
    </p>
    <!-- VIDEO IDS -->
    <p>
        <label for='playlist-video-ids'>Videos</label><br>
        <p>Add the ID of the videos you want to include in your playlist. Separate with a newline.</p>
        <textarea id='playlist-video-ids' name='video_ids' rows='5'></textarea>
        <textarea id='playlist-video-ids' name='video_ids' rows='5'></textarea>
        <select name="Rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save Playlist</button>
    </p>
</form>
{% endblock %}